@font-face {
    font-family: 'icon-font';
    src:url('../fonts/icons.eot');
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icons.svg') format('svg'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
    display: block;
    margin: 5px;
    font-family: 'icon-font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;/*
	-webkit-font-smoothing: subpixel-antialiased;*/
}
.icon-feather:before {
    content: "\e600";
}

.icon-image:before {
    content: "\e601";
    line-height: 20px;
    font-size: 14px;
}

.b-editor {
    position: relative;
    width: 100%;
}

.b-editor-textarea {
    width: 100%;
    outline: none;
    height: 600px;
    resize: none;
    padding: 100px 20px 0 20px;
    border: 1px solid #ccc;
}

.b-editor-panel {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background: #999;
    opacity: 0.8;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

.b-editor-panel .icon {
    color: #fff;
}

.b-editor-panel_add-image,
.b-editor-panel_add-link {
    width: 25px;
    height: 25px;
    background: #555;
    box-shadow: 1px 1px 0 0px #333;
    cursor: pointer;
    float: left;
    margin: 0 10px 5px 0;
    padding: 0 5px;
    box-sizing: border-box;
}

.b-editor-area {
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    min-height: 800px;
    padding-top: 80px;
}
